In [1]:
import os

mongo_uri = os.getenv('MONGODB_URI')

In [2]:
pip install pymongo

Requirement already satisfied: pymongo in c:\users\knowy\appdata\local\programs\python\python312\lib\site-packages (4.9.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\knowy\appdata\local\programs\python\python312\lib\site-packages (from pymongo) (2.6.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
from pymongo import MongoClient

# Connect to MongoDB (default host and port)
client = MongoClient('mongodb://localhost:27017/')

In [4]:
# Create or access a database
db = client['myDatabase']

# Create or access a collection
collection = db['myCollection']

In [5]:
#reading the file
import pandas as pd
# import numpy as np

In [6]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\knowy\appdata\local\programs\python\python312\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\knowy\appdata\local\programs\python\python312\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [7]:
# df=pd.read_excel(r'C:\Users\knowy\Downloads\census_2011.xlsx')
url = 'https://docs.google.com/spreadsheets/d/1YWdOUGGFy1h-WKuXtkiKDTm3jcEY4Y7XuSZt_rzXtgc/export?format=xlsx'
df = pd.read_excel(url)

In [8]:
url

'https://docs.google.com/spreadsheets/d/1YWdOUGGFy1h-WKuXtkiKDTm3jcEY4Y7XuSZt_rzXtgc/export?format=xlsx'

In [9]:
df.shape

(640, 118)

In [10]:
df.head()

,District code,State name,District name,Population,Male,Female,Literate,Male_Literate,Female_Literate,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,1,JAMMU AND KASHMIR,Kupwara,870354.0,474190.0,396164.0,439654.0,282823.0,156831.0,1048.0,...,94.0,588.0,71.0,101.0,172.0,74.0,10.0,84.0,15.0,1119.0
1,2,JAMMU AND KASHMIR,Badgam,753745.0,NaN,355704.0,335649.0,207741.0,127908.0,NaN,...,126.0,562.0,72.0,89.0,161.0,96.0,28.0,124.0,18.0,1066.0
2,3,JAMMU AND KASHMIR,Leh(Ladakh),133487.0,78971.0,54516.0,93770.0,62834.0,30936.0,488.0,...,46.0,122.0,15.0,22.0,NaN,20.0,NaN,NaN,17.0,242.0
3,4,JAMMU AND KASHMIR,Kargil,140802.0,NaN,63017.0,NaN,56301.0,29935.0,18.0,...,27.0,114.0,12.0,18.0,30.0,19.0,3.0,22.0,7.0,214.0
4,5,JAMMU AND KASHMIR,Punch,NaN,251899.0,224936.0,261724.0,163333.0,98391.0,556.0,...,78.0,346.0,35.0,50.0,85.0,59.0,8.0,67.0,12.0,629.0

In [11]:
df.columns.to_list()

['District code',
 'State name',
 'District name',
 'Population',
 'Male',
 'Female',
 'Literate',
 'Male_Literate',
 'Female_Literate',
 'SC',
 'Male_SC',
 'Female_SC',
 'ST',
 'Male_ST',
 'Female_ST',
 'Workers',
 'Male_Workers',
 'Female_Workers',
 'Main_Workers',
 'Marginal_Workers',
 'Non_Workers',
 'Cultivator_Workers',
 'Agricultural_Workers',
 'Household_Workers',
 'Other_Workers',
 'Hindus',
 'Muslims',
 'Christians',
 'Sikhs',
 'Buddhists',
 'Jains',
 'Others_Religions',
 'Religion_Not_Stated',
 'LPG_or_PNG_Households',
 'Housholds_with_Electric_Lighting',
 'Households_with_Internet',
 'Households_with_Computer',
 'Rural_Households',
 'Urban_Households',
 'Households',
 'Below_Primary_Education',
 'Primary_Education',
 'Middle_Education',
 'Secondary_Education',
 'Higher_Education',
 'Graduate_Education',
 'Other_Education',
 'Literate_Education',
 'Illiterate_Education',
 'Total_Education',
 'Age_Group_0_29',
 'Age_Group_30_49',
 'Age_Group_50',
 'Age not stated',
 'Households_with_Bicycle',
 'Households_with_Car_Jeep_Van',
 'Households_with_Radio_Transistor',
 'Households_with_Scooter_Motorcycle_Moped',
 'Households_with_Telephone_Mobile_Phone_Landline_only',
 'Households_with_Telephone_Mobile_Phone_Mobile_only',
 'Households_with_TV_Computer_Laptop_Telephone_mobile_phone_and_Scooter_Car',
 'Households_with_Television',
 'Households_with_Telephone_Mobile_Phone',
 'Households_with_Telephone_Mobile_Phone_Both',
 'Condition_of_occupied_census_houses_Dilapidated_Households',
 'Households_with_separate_kitchen_Cooking_inside_house',
 'Having_bathing_facility_Total_Households',
 'Having_latrine_facility_within_the_premises_Total_Households',
 'Ownership_Owned_Households',
 'Ownership_Rented_Households',
 'Type_of_bathing_facility_Enclosure_without_roof_Households',
 'Type_of_fuel_used_for_cooking_Any_other_Households',
 'Type_of_latrine_facility_Pit_latrine_Households',
 'Type_of_latrine_facility_Other_latrine_Households',
 'Type_of_latrine_facility_Night_soil_disposed_into_open_drain_Households',
 'Type_of_latrine_facility_Flush_pour_flush_latrine_connected_to_other_system_Households',
 'Not_having_bathing_facility_within_the_premises_Total_Households',
 'Not_having_latrine_facility_within_the_premises_Alternative_source_Open_Households',
 'Main_source_of_drinking_water_Un_covered_well_Households',
 'Main_source_of_drinking_water_Handpump_Tubewell_Borewell_Households',
 'Main_source_of_drinking_water_Spring_Households',
 'Main_source_of_drinking_water_River_Canal_Households',
 'Main_source_of_drinking_water_Other_sources_Households',
 'Main_source_of_drinking_water_Other_sources_Spring_River_Canal_Tank_Pond_Lake_Other_sources__Households',
 'Location_of_drinking_water_source_Near_the_premises_Households',
 'Location_of_drinking_water_source_Within_the_premises_Households',
 'Main_source_of_drinking_water_Tank_Pond_Lake_Households',
 'Main_source_of_drinking_water_Tapwater_Households',
 'Main_source_of_drinking_water_Tubewell_Borehole_Households',
 'Household_size_1_person_Households',
 'Household_size_2_persons_Households',
 'Household_size_1_to_2_persons',
 'Household_size_3_persons_Households',
 'Household_size_3_to_5_persons_Households',
 'Household_size_4_persons_Households',
 'Household_size_5_persons_Households',
 'Household_size_6_8_persons_Households',
 'Household_size_9_persons_and_above_Households',
 'Location_of_drinking_water_source_Away_Households',
 'Married_couples_1_Households',
 'Married_couples_2_Households',
 'Married_couples_3_Households',
 'Married_couples_3_or_more_Households',
 'Married_couples_4_Households',
 'Married_couples_5__Households',
 'Married_couples_None_Households',
 'Power_Parity_Less_than_Rs_45000',
 'Power_Parity_Rs_45000_90000',
 'Power_Parity_Rs_90000_150000',
 'Power_Parity_Rs_45000_150000',
 'Power_Parity_Rs_150000_240000',
 'Power_Parity_Rs_240000_330000',
 'Power_Parity_Rs_150000_330000',
 'Power_Parity_Rs_330000_425000',
 'Power_Parity_Rs_425000_545000',
 'Power_Parity_Rs_330000_545000',
 'Power_Parity_Above_Rs_545000',
 'Total_Power_Parity']

Renaming the column names as per the task1 requirement.

In [12]:
df.rename(columns={'State name':'State/UT',
                    'District name': 'District',
                      'Male_Literate':'Literate_Male',
                        'Female_Literate':'Literate_Female',
                        'Rural_Households':'Households_Rural',
                        'Urban_Households':'Households_Urban',
                        'Age_Group_0_29': 'Young_and_Adult',
                        'Age_Group_30_49': 'Middle_Aged',
                        'Age_Group_50' : 'Senior_Citizen',
                        'Age not stated': 'Age_Not_Stated',}, inplace=True)

proceeding to task2: (Rename state/UT names)

In [13]:
df

,District code,State/UT,District,Population,Male,Female,Literate,Literate_Male,Literate_Female,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,1,JAMMU AND KASHMIR,Kupwara,870354.0,474190.0,396164.0,439654.0,282823.0,156831.0,1048.0,...,94.0,588.0,71.0,101.0,172.0,74.0,10.0,84.0,15.0,1119.0
1,2,JAMMU AND KASHMIR,Badgam,753745.0,NaN,355704.0,335649.0,207741.0,127908.0,NaN,...,126.0,562.0,72.0,89.0,161.0,96.0,28.0,124.0,18.0,1066.0
2,3,JAMMU AND KASHMIR,Leh(Ladakh),133487.0,78971.0,54516.0,93770.0,62834.0,30936.0,488.0,...,46.0,122.0,15.0,22.0,NaN,20.0,NaN,NaN,17.0,242.0
3,4,JAMMU AND KASHMIR,Kargil,140802.0,NaN,63017.0,NaN,56301.0,29935.0,18.0,...,27.0,114.0,12.0,18.0,30.0,19.0,3.0,22.0,7.0,214.0
4,5,JAMMU AND KASHMIR,Punch,NaN,251899.0,224936.0,261724.0,163333.0,98391.0,556.0,...,78.0,346.0,35.0,50.0,85.0,59.0,8.0,67.0,12.0,629.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,636,PONDICHERRY,Mahe,41816.0,19143.0,22673.0,36470.0,16610.0,19860.0,144.0,...,2316.0,4309.0,1370.0,838.0,2208.0,576.0,978.0,1554.0,1446.0,10027.0
636,637,PONDICHERRY,Karaikal,200222.0,97809.0,102413.0,154916.0,79903.0,75013.0,35348.0,...,1063.0,2408.0,665.0,340.0,1005.0,246.0,NaN,729.0,341.0,4890.0
637,638,ANDAMAN AND NICOBAR ISLANDS,Nicobars,36842.0,20727.0,NaN,25332.0,15397.0,9935.0,0.0,...,685.0,1895.0,212.0,134.0,346.0,70.0,120.0,190.0,84.0,3151.0
638,639,ANDAMAN AND NICOBAR ISLANDS,North AND Middle Andaman,105597.0,54861.0,50736.0,78683.0,43186.0,35497.0,0.0,...,685.0,1895.0,212.0,NaN,346.0,70.0,120.0,190.0,84.0,3151.0
639,640,ANDAMAN AND NICOBAR ISLANDS,South Andaman,NaN,127283.0,110859.0,190266.0,105794.0,84472.0,0.0,...,1371.0,3020.0,649.0,368.0,1017.0,265.0,497.0,762.0,376.0,5782.0

In [14]:
df['State/UT'].unique()

array(['JAMMU AND KASHMIR', 'HIMACHAL PRADESH', 'PUNJAB', 'CHANDIGARH',
       'UTTARAKHAND', 'HARYANA', 'NCT OF DELHI', 'RAJASTHAN',
       'UTTAR PRADESH', 'BIHAR', 'SIKKIM', 'ARUNACHAL PRADESH',
       'NAGALAND', 'MANIPUR', 'MIZORAM', 'TRIPURA', 'MEGHALAYA', 'ASSAM',
       'WEST BENGAL', 'JHARKHAND', 'ORISSA', 'CHHATTISGARH',
       'MADHYA PRADESH', 'GUJARAT', 'DAMAN AND DIU',
       'DADRA AND NAGAR HAVELI', 'MAHARASHTRA', 'ANDHRA PRADESH',
       'KARNATAKA', 'GOA', 'LAKSHADWEEP', 'KERALA', 'TAMIL NADU',
       'PONDICHERRY', 'ANDAMAN AND NICOBAR ISLANDS'], dtype=object)

In [15]:
df['State/UT'] = df['State/UT'].str.title()

In [16]:
df['State/UT'] = df['State/UT'].str.replace(' And ', ' and ', case=False)

In [17]:
df['District'] = df['District'].str.replace('Leh(Ladakh)', 'Leh', case=False)

In [18]:
df['State/UT'].unique()

array(['Jammu and Kashmir', 'Himachal Pradesh', 'Punjab', 'Chandigarh',
       'Uttarakhand', 'Haryana', 'Nct Of Delhi', 'Rajasthan',
       'Uttar Pradesh', 'Bihar', 'Sikkim', 'Arunachal Pradesh',
       'Nagaland', 'Manipur', 'Mizoram', 'Tripura', 'Meghalaya', 'Assam',
       'West Bengal', 'Jharkhand', 'Orissa', 'Chhattisgarh',
       'Madhya Pradesh', 'Gujarat', 'Daman and Diu',
       'Dadra and Nagar Haveli', 'Maharashtra', 'Andhra Pradesh',
       'Karnataka', 'Goa', 'Lakshadweep', 'Kerala', 'Tamil Nadu',
       'Pondicherry', 'Andaman and Nicobar Islands'], dtype=object)

Proceding task 3:(New State/UT formation)

In [19]:
df['State/UT'] = df['State/UT'].str.replace(' Andhra Pradesh ', ' Telangana ', case=False)

In [20]:
df['State/UT'] = df['State/UT'].str.replace(' Jammu and Kashmir ', ' Ladakh ', case=False)

In [21]:
df.loc[df['District'] == ('Leh' and 'Kargil'), 'State/UT'] = 'Ladakh'

In [22]:
df.loc[df['District'] == ('Leh'), 'State/UT'] = 'Ladakh'

In [23]:
df.loc[df['District'] == ('Adilabad'), 'State/UT'] = 'Telangana'
df.loc[df['District'] == ('Nizamabad'), 'State/UT'] = 'Telangana'
df.loc[df['District'] == ('Karimnagar'), 'State/UT'] = 'Telangana'
df.loc[df['District'] == ('Medak'), 'State/UT'] = 'Telangana'
df.loc[df['District'] == ('Hyderabad'), 'State/UT'] = 'Telangana'
df.loc[df['District'] == ('Rangareddy'), 'State/UT'] = 'Telangana'
df.loc[df['District'] == ('Mahbubnagar'), 'State/UT'] = 'Telangana'
df.loc[df['District'] == ('Nalgonda'), 'State/UT'] = 'Telangana'
df.loc[df['District'] == ('Warangal'), 'State/UT'] = 'Telangana'
df.loc[df['District'] == ('Khammam'), 'State/UT'] = 'Telangana'

In [24]:
df.loc[df['District'] == ('Nizamabad'), 'State/UT'] = 'Telangana'

In [25]:
df.loc[df['District'] == (('Adilabad' and 'Nizamabad' and 'Karimnagar' and 'Medak' and 'Hyderabad' and 'Rangareddy' and 'Mahbubnagar' and 'Nalgonda' and 'Warangal' and 'Khammam')), 'State/UT'] = 'Telangana'

In [26]:
df

,District code,State/UT,District,Population,Male,Female,Literate,Literate_Male,Literate_Female,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,1,Jammu and Kashmir,Kupwara,870354.0,474190.0,396164.0,439654.0,282823.0,156831.0,1048.0,...,94.0,588.0,71.0,101.0,172.0,74.0,10.0,84.0,15.0,1119.0
1,2,Jammu and Kashmir,Badgam,753745.0,NaN,355704.0,335649.0,207741.0,127908.0,NaN,...,126.0,562.0,72.0,89.0,161.0,96.0,28.0,124.0,18.0,1066.0
2,3,Ladakh,Leh,133487.0,78971.0,54516.0,93770.0,62834.0,30936.0,488.0,...,46.0,122.0,15.0,22.0,NaN,20.0,NaN,NaN,17.0,242.0
3,4,Ladakh,Kargil,140802.0,NaN,63017.0,NaN,56301.0,29935.0,18.0,...,27.0,114.0,12.0,18.0,30.0,19.0,3.0,22.0,7.0,214.0
4,5,Jammu and Kashmir,Punch,NaN,251899.0,224936.0,261724.0,163333.0,98391.0,556.0,...,78.0,346.0,35.0,50.0,85.0,59.0,8.0,67.0,12.0,629.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,636,Pondicherry,Mahe,41816.0,19143.0,22673.0,36470.0,16610.0,19860.0,144.0,...,2316.0,4309.0,1370.0,838.0,2208.0,576.0,978.0,1554.0,1446.0,10027.0
636,637,Pondicherry,Karaikal,200222.0,97809.0,102413.0,154916.0,79903.0,75013.0,35348.0,...,1063.0,2408.0,665.0,340.0,1005.0,246.0,NaN,729.0,341.0,4890.0
637,638,Andaman and Nicobar Islands,Nicobars,36842.0,20727.0,NaN,25332.0,15397.0,9935.0,0.0,...,685.0,1895.0,212.0,134.0,346.0,70.0,120.0,190.0,84.0,3151.0
638,639,Andaman and Nicobar Islands,North AND Middle Andaman,105597.0,54861.0,50736.0,78683.0,43186.0,35497.0,0.0,...,685.0,1895.0,212.0,NaN,346.0,70.0,120.0,190.0,84.0,3151.0
639,640,Andaman and Nicobar Islands,South Andaman,NaN,127283.0,110859.0,190266.0,105794.0,84472.0,0.0,...,1371.0,3020.0,649.0,368.0,1017.0,265.0,497.0,762.0,376.0,5782.0

In [27]:
df['State/UT'].unique()

array(['Jammu and Kashmir', 'Ladakh', 'Himachal Pradesh', 'Punjab',
       'Chandigarh', 'Uttarakhand', 'Haryana', 'Nct Of Delhi',
       'Rajasthan', 'Uttar Pradesh', 'Bihar', 'Sikkim',
       'Arunachal Pradesh', 'Nagaland', 'Manipur', 'Mizoram', 'Tripura',
       'Meghalaya', 'Assam', 'West Bengal', 'Jharkhand', 'Orissa',
       'Chhattisgarh', 'Madhya Pradesh', 'Gujarat', 'Daman and Diu',
       'Dadra and Nagar Haveli', 'Maharashtra', 'Telangana',
       'Andhra Pradesh', 'Karnataka', 'Goa', 'Lakshadweep', 'Kerala',
       'Tamil Nadu', 'Pondicherry', 'Andaman and Nicobar Islands'],
      dtype=object)

In [28]:
a= df[df['District'] == 'Kargil']

In [29]:
a

,District code,State/UT,District,Population,Male,Female,Literate,Literate_Male,Literate_Female,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
3,4,Ladakh,Kargil,140802.0,NaN,63017.0,NaN,56301.0,29935.0,18.0,...,27.0,114.0,12.0,18.0,30.0,19.0,3.0,22.0,7.0,214.0

Proceding to the next Task 4 - find and processing Missing data

In [30]:
missing_percentage_before = df.isnull().mean() * 100
print("Percentage of missing data before filling:")
print(missing_percentage_before)
missing_percentage_before.to_list()

Percentage of missing data before filling:
District code                    0.00000
State/UT                         0.00000
District                         0.00000
Population                       4.68750
Male                             4.68750
                                  ...
Power_Parity_Rs_330000_425000    5.15625
Power_Parity_Rs_425000_545000    4.68750
Power_Parity_Rs_330000_545000    3.59375
Power_Parity_Above_Rs_545000     4.68750
Total_Power_Parity               5.00000
Length: 118, dtype: float64

[0.0,
 0.0,
 0.0,
 4.6875,
 4.6875,
 5.15625,
 5.625,
 4.84375,
 4.21875,
 5.46875,
 3.5937499999999996,
 5.0,
 4.53125,
 4.84375,
 4.84375,
 3.5937499999999996,
 3.4375000000000004,
 2.96875,
 4.375,
 6.09375,
 5.625,
 4.53125,
 4.21875,
 4.375,
 4.375,
 4.21875,
 5.78125,
 4.6875,
 4.53125,
 4.0625,
 6.5625,
 4.6875,
 5.46875,
 5.78125,
 6.406249999999999,
 3.5937499999999996,
 4.21875,
 6.5625,
 5.15625,
 5.0,
 5.3125,
 6.406249999999999,
 5.9375,
 5.78125,
 3.28125,
 4.6875,
 4.0625,
 5.78125,
 4.53125,
 6.406249999999999,
 4.84375,
 4.6875,
 4.84375,
 5.46875,
 4.0625,
 4.21875,
 4.53125,
 6.406249999999999,
 4.6875,
 4.375,
 5.15625,
 5.15625,
 5.0,
 5.3125,
 5.15625,
 4.53125,
 4.0625,
 4.21875,
 5.3125,
 5.0,
 5.9375,
 5.9375,
 5.46875,
 4.375,
 3.75,
 4.21875,
 5.0,
 6.71875,
 6.406249999999999,
 4.84375,
 5.0,
 6.71875,
 4.6875,
 3.4375000000000004,
 4.6875,
 4.375,
 5.625,
 6.5625,
 4.21875,
 4.375,
 5.3125,
 5.3125,
 4.375,
 4.53125,
 6.5625,
 4.84375,
 5.625,
 4.6875,
 4.375,
 4.6875,
 4.53125,
 5.46875,
 5.0,
 4.0625,
 4.53125,
 4.6875,
 4.53125,
 6.71875,
 5.15625,
 4.6875,
 4.53125,
 5.46875,
 3.75,
 5.15625,
 4.6875,
 3.5937499999999996,
 4.6875,
 5.0]

In [31]:
pd.reset_option('display.max_columns')

In [32]:
df['Population'] = df['Male'] + df['Female']
df['Literate'] = df['Literate_Male'] + df['Literate_Female']

# Filling missing values using .loc to avoid chained assignment warnings
df.loc[df['Population'].isnull(), 'Population'] = (
    df['Young_and_Adult'] + df['Middle_Aged'] + df['Senior_Citizen'] + df['Age_Not_Stated']
)

df.loc[df['Households'].isnull(), 'Households'] = (
    df['Households_Rural'] + df['Households_Urban']
)

In [33]:
df

,District code,State/UT,District,Population,Male,Female,Literate,Literate_Male,Literate_Female,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,1,Jammu and Kashmir,Kupwara,870354.0,474190.0,396164.0,439654.0,282823.0,156831.0,1048.0,...,94.0,588.0,71.0,101.0,172.0,74.0,10.0,84.0,15.0,1119.0
1,2,Jammu and Kashmir,Badgam,753745.0,NaN,355704.0,335649.0,207741.0,127908.0,NaN,...,126.0,562.0,72.0,89.0,161.0,96.0,28.0,124.0,18.0,1066.0
2,3,Ladakh,Leh,133487.0,78971.0,54516.0,93770.0,62834.0,30936.0,488.0,...,46.0,122.0,15.0,22.0,NaN,20.0,NaN,NaN,17.0,242.0
3,4,Ladakh,Kargil,140802.0,NaN,63017.0,86236.0,56301.0,29935.0,18.0,...,27.0,114.0,12.0,18.0,30.0,19.0,3.0,22.0,7.0,214.0
4,5,Jammu and Kashmir,Punch,476835.0,251899.0,224936.0,261724.0,163333.0,98391.0,556.0,...,78.0,346.0,35.0,50.0,85.0,59.0,8.0,67.0,12.0,629.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,636,Pondicherry,Mahe,41816.0,19143.0,22673.0,36470.0,16610.0,19860.0,144.0,...,2316.0,4309.0,1370.0,838.0,2208.0,576.0,978.0,1554.0,1446.0,10027.0
636,637,Pondicherry,Karaikal,200222.0,97809.0,102413.0,154916.0,79903.0,75013.0,35348.0,...,1063.0,2408.0,665.0,340.0,1005.0,246.0,NaN,729.0,341.0,4890.0
637,638,Andaman and Nicobar Islands,Nicobars,36842.0,20727.0,NaN,25332.0,15397.0,9935.0,0.0,...,685.0,1895.0,212.0,134.0,346.0,70.0,120.0,190.0,84.0,3151.0
638,639,Andaman and Nicobar Islands,North AND Middle Andaman,105597.0,54861.0,50736.0,78683.0,43186.0,35497.0,0.0,...,685.0,1895.0,212.0,NaN,346.0,70.0,120.0,190.0,84.0,3151.0
639,640,Andaman and Nicobar Islands,South Andaman,238142.0,127283.0,110859.0,190266.0,105794.0,84472.0,0.0,...,1371.0,3020.0,649.0,368.0,1017.0,265.0,497.0,762.0,376.0,5782.0

In [34]:
# Step 4: Calculate percentage of missing data for each column after filling
missing_percentage_after = df.isnull().mean() * 100
print("\nPercentage of missing data after filling:")
print(missing_percentage_after)

Percentage of missing data after filling:
District code                    0.00000
State/UT                         0.00000
District                         0.00000
Population                       1.71875
Male                             4.68750
                                  ...
Power_Parity_Rs_330000_425000    5.15625
Power_Parity_Rs_425000_545000    4.68750
Power_Parity_Rs_330000_545000    3.59375
Power_Parity_Above_Rs_545000     4.68750
Total_Power_Parity               5.00000
Length: 118, dtype: float64

In [35]:
# Step 5: Compare the two percentages
comparison = pd.DataFrame({
    'Before Filling': missing_percentage_before,
    'After Filling': missing_percentage_after
})

print("\nComparison of missing data percentages:")
print(comparison)

Comparison of missing data percentages:
                               Before Filling  After Filling
District code                         0.00000        0.00000
State/UT                              0.00000        0.00000
District                              0.00000        0.00000
Population                            4.68750        1.71875
Male                                  4.68750        4.68750
...                                       ...            ...
Power_Parity_Rs_330000_425000         5.15625        5.15625
Power_Parity_Rs_425000_545000         4.68750        4.68750
Power_Parity_Rs_330000_545000         3.59375        3.59375
Power_Parity_Above_Rs_545000          4.68750        4.68750
Total_Power_Parity                    5.00000        5.00000

[118 rows x 2 columns]

Step-5 - save data to MangoDB

In [36]:
# Step 1: Set up MongoDB connection
client = MongoClient('mongodb://localhost:27017/')  # Update the connection string if necessary
db = client['myDatabase']  # Replace with your database name
collection = db['census']  #updated db name

# Step 2: Convert DataFrame to a list of dictionaries
data_to_insert = df.to_dict(orient='records')

# Step 3: Insert data into MongoDB
collection.insert_many(data_to_insert)

print("Data has been successfully saved to MongoDB in the 'census' collection.")

Data has been successfully saved to MongoDB in the 'census' collection.

Step - 6 - Database connection and data upload

In [37]:
pip install pymongo sqlalchemy mysql-connector-python

Requirement already satisfied: pymongo in c:\users\knowy\appdata\local\programs\python\python312\lib\site-packages (4.9.1)
Requirement already satisfied: sqlalchemy in c:\users\knowy\appdata\local\programs\python\python312\lib\site-packages (2.0.35)
Requirement already satisfied: mysql-connector-python in c:\users\knowy\appdata\local\programs\python\python312\lib\site-packages (9.0.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\knowy\appdata\local\programs\python\python312\lib\site-packages (from pymongo) (2.6.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\knowy\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\knowy\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (3.1.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [38]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in c:\users\knowy\appdata\local\programs\python\python312\lib\site-packages (2.9.9)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [39]:
from sqlalchemy import create_engine, MetaData

In [40]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, ForeignKey

# Connect to the SQL database
engine = create_engine('postgresql://username:password@localhost:5432/census')

# Define metadata for tables
metadata = MetaData()

# Create census table
census_table = Table('census', metadata,
                     Column('id', Integer, primary_key=True),
                     Column('district', String),
                     Column('Male', Integer),
                     Column('Female', Integer),
                     Column('Literate_Male', Integer),
                     Column('Literate_Female', Integer),
                    
)

# Create the table in the database
metadata.create_all(engine)

# Fetch data from MongoDB and insert into SQLx``
df.to_sql('census', con=engine, if_exists='append', index=False)

OperationalError: (psycopg2.OperationalError) connection to server at "localhost" (::1), port 5432 failed: Connection refused (0x0000274D/10061)
	Is the server running on that host and accepting TCP/IP connections?
connection to server at "localhost" (127.0.0.1), port 5432 failed: Connection refused (0x0000274D/10061)
	Is the server running on that host and accepting TCP/IP connections?

(Background on this error at: https://sqlalche.me/e/20/e3q8)

Step - 7 - Run Querry on the database and show output on the streamlit.

In [459]:
from sqlalchemy import create_engine, MetaData
from sqlalchemy.exc import OperationalError

# Define your connection parameters
username = 'your_username'
password = 'your_password'
database = 'your_database'
host = 'localhost'
port = '5432'

# Create the connection string
connection_string = f'postgresql://{username}:{password}@{host}:{port}/{database}'

try:
    # Create an engine
    engine = create_engine(connection_string)

    # Create a MetaData instance
    metadata = MetaData()

    # Reflect the database schema
    metadata.reflect(bind=engine)

    # Access a specific table
    my_table = metadata.tables['your_table_name']

    # Example: print table information
    print(my_table.columns.keys())

except OperationalError as e:
    print("Could not connect to the database. Please check your connection settings.")
    print(f"Error: {e}")

except Exception as e:
    print("An unexpected error occurred.")
    print(f"Error: {e}")

Could not connect to the database. Please check your connection settings.
Error: (psycopg2.OperationalError) connection to server at "localhost" (::1), port 5432 failed: Connection refused (0x0000274D/10061)
	Is the server running on that host and accepting TCP/IP connections?
connection to server at "localhost" (127.0.0.1), port 5432 failed: Connection refused (0x0000274D/10061)
	Is the server running on that host and accepting TCP/IP connections?

(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [ ]:
import pymongo

# Replace with your MongoDB connection string
client = pymongo.MongoClient("mongodb://localhost:27017/")

# Specify the database name
db = client["your_database_name"]

# Specify the collection name
collection = db["your_collection_name"]